.chatting-room__body {
  height: 1000vh;
  background-color: var(--pink);
}

.chatting-room__top-bar {
  background-color: #fff;
}

.chatting-room__header {
  /* margin: 55px 30px 25px 30px; */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 40px;
  background-color: #fff;
}

.chatting-room__header-title {
  position: absolute;
  left: 60px;
  font-size: 20px;
  font-weight: 600;
}

.chatting-room__notice {
  position: fixed;
  top: 98px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow:12px 2px 7px 2px rgba(225, 225, 225, 0.387);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chatting-room__notice span:first-child {
  position: absolute;
  left: 23px;
  box-sizing: border-box;
}

.chatting-room__notice span:last-child {
  position: absolute;
  right: 31px;
  box-sizing: border-box;
  color: rgb(197, 197, 197);
}

.chatting-room__notice-title {
  position: absolute;
  left: 60px;
  font-weight: 600;
}

.chatting-room__footer-chat-box {
  width: 100%;
  height: 47px;
  background-color: #fff;
  box-shadow:12px 2px 7px 2px rgba(225, 225, 225, 0.282);
  position: absolute;
  bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  box-sizing: border-box;
  color: rgb(177, 177, 177);
}

.chat-smile-icon {
  position: absolute;
  right: 55px;
  top: 16px;
}

.hashtag-icon {
  font-weight: 600;
  font-size: 25px;
  position: absolute;
  right: 15px;
}

.chatting-room__footer-chat-box {
  position: fixed;
  bottom: 60px;
}

.chatting-room__chat-input {
  border-style: none;
  width: 65%;
  position: absolute;
  left: 50px;
  font-size: 18px;
}

.chatting-date-box {
  position: absolute;
  top: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatting-date-box span {
  background-color: rgba(180, 180, 180, 0.579);
  padding: 7px;
  border-radius: 15px;
  font-size: 15px;
  color: #fff;
  z-index: -1;
}

.chatting-room__your-chat {
  position: absolute;
  top: 250px;
  margin-left: 20px;
  display: flex;
  align-items: flex-end;
}

/* 상대방 채팅 */

.user-profile-photo-xs {
  width: 45px;
  height: 45px;
  border-radius: 18px;
  margin-bottom: 15px;
  /* border: 1px solid gray;  */
}

.chatting-room__your-chat,
.chatting-room__my-chat {
  z-index: -1;
}

.your-chat-name {
  display: flex;
  padding-bottom: 10px;
  font-size: 15px;
  opacity: 0.8;
}

.your-chat-small-box,
.your-chat-name {
  padding-left: 10px;
}

.your-chat-small-box,
.my-chat-small-box {
  display: flex;
  align-items: flex-end;
}

.my-chat__time {
  margin-right: 6px;
}

.your-chat__bubble,
.my-chat__bubble {
  padding: 8px;
  background-color: #fff;
  border-radius: 10px;
}

.your-chat__time,
.my-chat__time {
  margin-left: 5px;
  font-size: 13px;
  opacity: 0.7;
}

.chatting-room__my-chat {
  position: absolute;
  top: 360px;
  right: 20px;
}


.chatting-room__your-reply-chat {
  position: absolute;
  top: 430px;
}

/* 크레페 톡 */
.chatting-date-box__to-crepe-from-me {
  position: absolute;
  top: 120px;
}

.chatting-room__to-crepe-from-me {
  position: absolute;
  top: 190px;
}

.chatting-room__reply-to-me-from-crepe {
  position: absolute;
  top: 270px;
}

/* 내 채팅방 */
.my-chatting-room {
  position: absolute;
  top: 270px;
}