.user-profile {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.user-profile-chat {
  border: none;
}

.user-profile-group {
  display: flex;
  align-items: center;
}

.user-profile-photo-xl {
  width: 80px;
  height: 80px;
  border-radius: 28px;
}

.friends__bookmark {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: var(--deep-pink);
}

.user-profile-title {
  font-size: 17px;
  font-weight: 600;
  margin-left: 15px;
}

.user-profile-comment {
  font-size: 15px;
  margin-top: 10px;
  color: var(--deep-pink);
  margin-left: 15px;
}

.user-profile-photo-sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-profile-photo-mid {
  width: 70px;
  height: 70px;
  border-radius: 27px;
}

.user-profile-crepe {
  display: flex;
  align-items: center;
}


.user-profile-music {
  border: 1px solid var(--deep-pink);
  border-radius: 15px;
  padding: 3px;
  margin-left: 150px;
}

.user-profile-music-title {
  font-size: 15px;
}

.user-profile-comment-music {
  display: flex;
  align-items: center;
}

.user-profile-music-pudding{
  margin-left: 0;
}

.user-profile-music-pudding {
  margin-top: 10px;
  margin-left: 70px;

}